<p>This is the partial for view 1.</p>

<div ng-controller="formCadastroCtrl">

  <form name="cadastrosite">

    <label>Nome do site:</label>
    <input type="text" ng-model="site.sitename" required/>

    <label>URL do site:</label>
    <input type="text" ng-model="site.sitename" required/>   


    <h3>Registro de Domínios, DNS e E-mail</h3>
    <p>Registro de domínio, DNS e email podem estar no mesmo lugar (Ex: Locaweb, Godaddy) ou todos separados. Use essa seção para manter esses dados organizados</p>
    
    <label>Address:</label> 
    <input type="text" ng-model="site.address.line1" size="33" required/> 
    <input type="text" ng-model="site.address.city" size="12" required/>,
    <input type="text" ng-model="site.address.state" size="2"
           ng-pattern="state" required/>
    <input type="text" ng-model="site.address.zip" size="5"
           ng-pattern="zip" required/>

    <label>Contacts:</label>
    [ <a href="" ng-click="addContact()">add</a> ]
    <div ng-repeat="contact in site.contacts">
      <select ng-model="contact.type">
        <option>email</option>
        <option>phone</option>
        <option>pager</option>
        <option>IM</option>
      </select>
      <input type="text" ng-model="contact.value" required/>
       [ <a href="" ng-click="removeContact(contact)">X</a> ]
    </div>
  <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
  <button ng-click="save()" ng-disabled="isSaveDisabled()">Save</button>
</form>

<hr/>
Debug View:
<pre>form={{form}}</pre>
</div>